{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/adminDashboard.css')}}">
{% endblock %}
{% block title %}Hello DashboardAdminController!{% endblock %}

{% block body %}
    <section>
        <a href="{{path('app_article_crud_index')}}">Articles</a>
    </section>
{% endblock %}
