
<header>
	<p id="logo"> &lt; LE MONDE DU DEV &sol;&gt; </p>
    <nav>
        <ul>
            <li><a class='last' href="{{path('app_last_article')}}">Derniers Articles</a></li>
            <li><a class='top'href="{{path('app_top')}}">Top Articles</a></li>
            <li><a class='categories' href="{{path('app_categorie')}}">Catégories</a></li>
        </ul>
    </nav>
   
    <a class="button" href="{{path('app_login')}}">Connexion</a>
    
</header>
