{% extends 'base.html.twig' %}

{% block title %}Hello TopController!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/cardArticle.css')}}">
	{# <link rel="stylesheet" href="{{asset('css/article.css')}}"> #}
{% endblock %}
{% block body %}
	<main>
		<div class="cards-container">
			{% for article in articles %}
				{% include "cardArticle/index.html.twig" %}
			{% endfor %}
		</div>
	</main>
{% endblock %}
