:root {
    --bg-color: #242629;
    --containt-bg-color: #16161a;
    --main-font-color: #fffffe;
    --second-font-color: #94a1b2;
    --black-font-color: #000000;
    --action-color: #7f5af0;
    --secondary-color: #2cb67d;
    --font-title-card-size: 22px;
    --font-text-card-size: 12px;
    --font-tag-size: 10px;
    --header-font-size: 14px;
    --button-font-size: 16px;
  }
*{
    color: var(--main-font-color) ;
    font-family: 'Poppins';
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    border-collapse: collapse;
    table-layout: auto;
    width: 95%;
    height: 300px;
}
th, td{
    border: 1px solid #fffffe;
    padding: 10px
}
thead{
    
    background-color:var(--secondary-color);

  }
  .button{
    background-color: var(--action-color);
  }
table .button{
    margin-right: 15px;
}
  .create {
    margin-top: 40px;
  }
form{
  width: 80%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.input-container{
  display: flex;
  flex-direction: column;
}
.input-text{
  background-color: transparent;
  border: 1px solid #fffffe;
  padding: 5px;
  width: 60%;
}
.resume{
  width: 70%;
}
.textarea{
  resize: none;
  width: 70%;
  height: 400px;
}
.btn{
  background-color: #7f5af0;
  border:none;
  width: 10%;
  padding: 10px;
  cursor: pointer;
}