:root {
    --bg-color: #242629;
    --containt-bg-color: #16161a;
    --main-font-color: #fffffe;
    --second-font-color: #94a1b2;
    --black-font-color: #000000;
    --action-color: #7f5af0;
    --secondary-color: #2cb67d;
    --font-title-card-size: 22px;
    --font-text-card-size: 12px;
    --font-tag-size: 10px;
    --header-font-size: 14px;
    --button-font-size: 16px;
  }
*{
    font-family: "Poppins";
}
h1,p,label {
    color: var(--main-font-color);
}


form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: center;

    align-items: center;

}
.form-container{
    padding: 100px 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    background-color: var(--containt-bg-color);

}
.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.input-container label{
    font-size: 12px;
}
input{
    background-color: transparent;
    border: 1px solid #fffffe;
    padding: 2px;
    height: 30px;
    color: var(--main-font-color);

}
input:focus {
    border: 1px solid #2cb67d;
    outline: none;
}
button{
    background-color: var(--action-color);
    color: var(--main-font-color);
    width: 100%;
    height: 35px;
    border: none;
    cursor: pointer;
}
.other{
    font-size: 12px;
    display: flex;
    gap: 10px;
    
    width: 100%;
    margin-top: 10px;
}
.other a{
    color: var(--secondary-color);
}